# Arquivo: requirements.txt

# Core da Aplicação e Dados
faiss-cpu
numpy
openai
openpyxl
pandas

# Machine Learning e Embeddings
einops
sentence-transformers
torch
transformers

# MLOps e Visualização
matplotlib
mlflow
seaborn
umap-learn

# Interface Web
streamlit
fastapi
uvicorn
